<section class="section">
  <div class="container">
    <h1 class="title">
      MTG Ledger
    </h1>
    <p class="subtitle">
      Welcome to MTG Ledger! This app lets you easily track which cards you have loaned to your friends.
    </p>
    <p>
      When you're deck-building, you don't always want to buy a card just to try it out. Your friends may be willing to
      loan you cards you want that they're not using.
    </p>

    <p>
      But of course your friend will want their cards back. And being the good friend you are, you want to make sure
      you give them back too. MTG Ledger keeps track of every card loaned to or from your friends, so you never have
      to worry about keeping track of who each card belongs to.
    </p>
  </div>
</section>
