
<h1>Add Loan</h1>

<%= form_for(@loan) do |f| %>
  <%= f.label :card %>
  <%= f.text_field :card %>

  <%= f.label :person %>
  <%= f.text_field :person %>

  <%= f.submit "Save this loan", class: "btn btn-primary" %>
<% end %>
