
<h1>Show Loan</h1>

<p>
  You loaned card
  <span class="mtg-card">
    <%= @loan.card %>
  </span>
  to
  <span class="person">
    <%= @loan.person %>
  </span>

  on
  <span class="when">
    TODO: add timestamps
  </span>
</p>
