<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>MTG Ledger</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <%= stylesheet_pack_tag "application" %>
      <%= javascript_pack_tag "application" %>

      <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
    </head>
    <body>
      <nav class="navbar is-info">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start is-link">
            <a class="navbar-item" href="/">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">
                  My Account
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="#">
                    Trades
                </a>
                <a class="navbar-item" href="#">
                    Friends
                </a>
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <% if signed_in? %>
            <div class="navbar-item">
              <p class="control">
                Signed in as: <%= current_user.email %>
                <%= button_to "Sign out", sign_out_path, method: :delete %>
              </p>
            </div>
            <% else %>
            <div class="navbar-item">
              <p class="control">
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <%= link_to 'Sign in', sign_in_path %>
              </p>
            </div>
            <div class="navbar-item">
              <p class="control">
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <%= link_to sign_up_path do %>
                  <span>Sign Up</span>
                <% end %>
              </p>
            </div>
            <% end %>
          </div>
        </div>
      </nav>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              MTG Ledger
            </h1>
            <h2 class="subtitle">
              Track which cards you've borrowed or loaned.
            </h2>
          </div>
        </div>
        <div class="tabs is-boxed is-centered main-menu" id="nav">
          <ul>
            <li class="<%= current_page?(loans_path) ? 'is-active' : '' %>">
              <a href="<%= loans_path %>">
                <span class="icon is-small"><i class="fa fa-book"></i></span>
                <span>Loans</span>
              </a>
            </li>
            <li class="<%= current_page?(friends_path) ? 'is-active' : '' %>">
              <a href="<%= friends_path %>">
                <span class="icon is-small"><i class="fa fa-user"></i></span>
                <span>Friends</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <div class="container">
          <%= yield %>
        </div>
      </section>
  </body>
</html>
